h1{
text-align: center;    
}

.message{
    margin: 40px;
    padding: 20px;
    border: 2px solid gold;
    display: flex;
    img{
        width: 30%;
    }
    .content{
        width: 70%;
        padding: 0 20px;
        &:hover{
            cursor: pointer;
            h3{
                color: gray;
            }
        }
        h3{
            margin:0 0 16px;
        }
        .date{
            color:rgb(30, 0, 255);
            margin: 0 0 4px;
        }
       
    }
}