h1 {
  background-color: rgb(53, 153, 153);
  display: inline-block;
}
h2 {
  color: rgb(53, 153, 153);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
h3 {
  color: #cc9900;
}
table {
  text-align: left;
  border-spacing: 0;
}
thead {
  background-color: bisque;
}
.cold {
  color: rgb(51, 153, 204);
  font-family: "Times New Roman", Times, serif;
}
.hot {
  color: #cc0000;
  font-family: "Times New Roman", Times, serif;
}
th.name {
  color: rgb(126, 85, 1);
  font-weight: bold;
}
td.name{
  background-color: #ccc;
}
tfoot {
  background-color: yellow;
  font-size: 20px;
  color: blue;
}