.header{
    background-color:gold;
    display: flex;
    justify-content:space-between ;
    .brand{
        padding: 0 20px
    }
    nav{
        ul{
            margin: 0;
        }
        li{
            display: inline-block;
        }
        a{
            color: rgb(90, 62, 3);
            display: block;
            padding: 10px;
            text-decoration: none;
        }
    }
}