h1{
color: gold;
}
.list{
    color: rgb(173, 66, 0);
    margin: 80px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap:30px;
    input {width:80%}
    .card{
        border: 1px solid gray;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 12px;
        p{
            margin: 4px 0;
        }
    }
}